*{margin:0;padding:0;}
/*body{font-family:"Courier New";font-size:12px;background-color:#ffffff;}
ul li{list-style: none;float:left;}
.none{display:none;}
.bg-gray{background-color:#d9d9d9;}
.bg-green{background-color:#ddffdd;}
.bg-pink{background-color:#dda0dd;}
.bg-red{background-color:#ed7669;}
.bg-blue{background-color:#A7EEEB;}
header{width:80%;height:50px;line-height:50px;padding:0 10%;}
footer{width:100%;height:300px;background-color:#1f1d1d;color:#ffffff;}
.logo{font-size:24px;font-weight:bold;color:#ffffff;}
menu{float:right;color:#ffffff;line-height:50px;height:50px;}
menu ul li{float:left;padding:0 30px;font-size:13px;}
#adv{width:100%;height:457px;background-color:#d9d9d9;padding-top:10px;}
#adv ul{width:936px;margin:0 auto;display:block;}
.dot{background:url(../img/dot.png);width:32px;height: 32px;border:1px solid red;}
#main{width:90%;margin:0 auto;}
#main-top{height:80px;padding:0px 100px;}
#main-top ul li{text-align:center;margin:10px 30px;}
.talk-circle{border:1px solid #d9d9d9;border-radius: 30px;width:50px;height:50px;line-height:50px;font-family:}*/
body{font-family: "Helvetica","Arial",sans-serif;color:#333;background-color:#ccc;margin:1em 10%;}
h1{color: #333;background: transparent;font-size: 24px;}
a{color: #c60;background: transparent;font-weight: bold;text-decoration: none;}
ul{padding:0;font-size:18px;}
li{float:left;padding:1em;list-style: none;}
.clear{clear:both;display: block;height: 0px;}
#placeholder{display: block;}
#description{height: 45px;line-height: 45px;margin-top: 30px;font-size:14px;}
#example{margin-top:50px;}
table{margin:0 auto;border:1px solid #699;}
caption{margin:auto;padding:.2em;font-size: 1.2em;font-weight: bold;}
th{font-weight: normal;font-style: italic;text-align:left;border:1px dotted #699;background-color:#9cc;color:#000;}
th,td{width:10em;padding:.5em;}
tr:nth-child(odd){background-color: #FCC;}
tr:nth-child(even){background-color:#FFF;}
tr:hover{font-weight: bold;}
.odd{background-color: #FCC;}
.event{background-color: #FFF;}
#slideshow{width:200px;height:300px;position:relative;overflow:hidden;}
canvas{margin-top:30px;}